/*body{
    background: url("download.jfif");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: scroll;

    
    
}*/
h1{
    color: red;
}
#practice{
    color: blue;
}
.prac{
    color: green;
}
.div{
    background-color: black;
    color: white;
    height: 300px;
    width: 300px;
}
p{
    margin:50px;
    padding: 20px;
    border:1px solid red;
    border-radius: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 900;
    font-style: italic;
}
.div1{
   
    background-color: antiquewhite;
    margin-top: 10px;
    /*display: inline-block;*/
   
}
.main{
    display: grid;
    gap: 10px;
    grid-template-columns:  repeat(3,1fr);
   
    
}

.main .div1:nth-child(1){
    grid-column: span 2;
}
.main .div1:nth-child(5){
    grid-row: span 2;
}


ul a {
    display: block;
    
}
div > p{
    color:  #ff0000;
    background-color: rgb(0, 0, 255);
}
#click{
    background-color: blue;
    padding: 5px;
    color: white;
    border-radius: 20px;
}
#click:hover{
    background-color: #ff0000;
}
.border-box{
    box-sizing: border-box;
    background-color: chartreuse;
    border:5px solid black;
    margin: 5px;
    padding: 10px;
    height: 200px;
    width: 200px;
    overflow: scroll;
}
.position1{
    background-color: #ff0000;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
     z-index: 3;
    
    
}
.position2{
    background-color: green;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    position: relative;
   
   
    bottom:175px;
    left: 25px;
    z-index: 2;
}
.position3{
    background-color: #3709b4;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
    position: relative;
   
    bottom:300px;
    left: 50px;
    z-index: 1;
}
.ball{
    background-color: #ff0000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: 0.9s;
     transition-duration: 2.9s;
}

.ball:hover{
    background-color: #3709b4;
    height: 100px;
    width: 100px;
}
.bc{
    background-color: #ff0000;
    height: 300px;
    width: 300px;
}
@media  (max-width: 768px) {
  .bc{
    background-color: blue;
  }
}